<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://www.gstatic.com;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova software development project</title>
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="/js/services/auth-service.js"></script>
    <script src="/js/services/profile-service.js"></script>
</head>
<body>
    <header>
        <h1>Tutor Finder</h1>
        <nav>
            <ul>
                <!-- navbar links will be dynamically updated -->
            </ul>
        </nav>
    </header>
    <main>
        <div class="profile-heading">
            <h2>My Profile</h2>
        </div>
        <div class="content">
            <div class="info">
                <h2>Personal Info</h2>
                <p><strong>First Name: </strong><span id="user-fname"></span></p>
                <p><strong>Last Name: </strong><span id="user-lname"></span></p>
                <p><strong>Email: </strong><span id="user-email"></span></p>
                <p><strong>Year: </strong><span id="user-year"></span></p>
                <p><strong>Major: </strong><span id="user-major"></span></p>
                <p><strong>Bio: </strong><span id="user-bio"></span></p>
                <button class="edit-profile-btn" id="edit-profile">Edit Profile</button>
            </div>
            <figure class="profile-img">
                <img id="profile-img" src="/uploads/Default_pfp.jpg" alt="profile picture">
                <figcaption></figcaption>
            </figure>
            <div class="upcoming">
                <h2>Upcoming</h2>
            </div>
        </div>
    </main>
    <div class="modal-backdrop">
        <div class='modal-container'>
            <div class='modal-header'>
                <h2>Edit Profile</h2>
                <button class="close-button" aria-label="Close">&times;</button>
            </div>
            <div class='modal-content'>
                <form onsubmit="event.preventDefault(); saveInfo();" novalidate>
                    <div class="form-group">
                        <div class="form-control">
                            <label for="edit-firstName">First Name</label>
                            <input type="text" id="edit-firstName" placeholder="Enter your first name"/>
                        </div>
                        <label class="error-message">fart</label>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <label for="edit-lastName">Last Name</label>
                            <input type="text" id="edit-lastName" placeholder="Enter your last name"/>
                            <label><input type="checkbox" id="show-email" checked> Show Email</label> 
                        </div>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <label for="edit-year">Year</label>
                            <select name="year" id="edit-year">
                                <option value="" selected disabled>Select Year</option>
                                <option value="Freshman">Freshman</option>
                                <option value="Sophomore">Sophomore</option>
                                <option value="Junior">Junior</option>
                                <option value="Senior">Senior</option>
                                <option value="Grad">Graduate Student</option>
                            </select>
                        </div>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <label>Major</label>
                            <select name="major" id="edit-major">
                                <option value="" selected disabled>Select Major</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Africana Studies">Africana Studies</option>
                                <option value="Anthropology">Anthropology</option>
                                <option value="Architecture">Architecture</option>
                                <option value="Art">Art</option>
                                <option value="Biology">Biology</option>
                                <option value="Business Administration">Business Administration</option>
                                <option value="Business Analytics">Business Analytics</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="Child and Family Development">Child and Family Development</option>
                                <option value="Civil Engineering">Civil Engineering</option>
                                <option value="Communication Studies">Communication Studies</option>
                                <option value="Computer Science">Computer Science</option>
                                <option value="Computer Engineering">Computer Engineering</option>
                                <option value="Construction Management">Construction Management</option>
                                <option value="Criminal Justice">Criminal Justice</option>
                                <option value="Dance">Dance</option>
                                <option value="Data Science">Data Science</option>
                                <option value="Earth and Environmental Sciences">Earth and Environmental Sciences</option>
                                <option value="Economics">Economics</option>
                                <option value="Electrical Engineering">Electrical Engineering</option>
                                <option value="Electromechanical Engineering Technology">Electromechanical Engineering Technology</option>
                                <option value="Elementary Education">Elementary Education</option>
                                <option value="English">English</option>
                                <option value="Environmental Engineering,">Environmental Engineering,</option>
                                <option value="Environmental Studies">Environmental Studies</option>
                                <option value="Exercise Science">Exercise Science</option>
                                <option value="Finance">Finance</option>
                                <option value="Fire and Safety Engineering Technology">Fire and Safety Engineering Technology</option>
                                <option value="French">French</option>
                                <option value="Geography">Geography</option>
                                <option value="Geology">Geology</option>
                                <option value="German">German</option>
                                <option value="Global Studies">Global Studies</option>
                                <option value="Graphic Design">Graphic Design</option>
                                <option value="Health Systems Management">Health Systems Management</option>
                                <option value="History">History</option>
                                <option value="Interdisciplinary Studies">Interdisciplinary Studies</option>
                                <option value="International Business">International Business</option>
                                <option value="Japanese Studies">Japanese Studies</option>
                                <option value="Latin American Studies">Latin American Studies</option>
                                <option value="Management">Management</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Mathematics">Mathematics</option>
                                <option value="Mechanical Engineering Technology">Mechanical Engineering Technology</option>
                                <option value="Mechanical Engineering">Mechanical Engineering</option>
                                <option value="Meteorology">Meteorology</option>
                                <option value="Middle Grades Education">Middle Grades Education</option>
                                <option value="Music">Music</option>
                                <option value="Nursing">Nursing</option>
                                <option value="Operations and Supply Chain Management">Operations and Supply Chain Management</option>
                                <option value="Philosophy">Philosophy</option>
                                <option value="Physics">Physics</option>
                                <option value="Political Science">Political Science</option>
                                <option value="Professional Studies">Professional Studies</option>
                                <option value="Psychology">Psychology</option>
                                <option value="Public Health">Public Health</option>
                                <option value="Religious Studies">Religious Studies</option>
                                <option value="Respiratory Therapy">Respiratory Therapy</option>
                                <option value="Social Work">Social Work</option>
                                <option value="Sociology">Sociology</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Special Education">Special Education</option>
                                <option value="Systems Engineering">Systems Engineering</option>
                                <option value="Theatre">Theatre</option>
                                <option value="Writing">Writing</option>
                            </select>
                        </div>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <label>Bio</label>
                            <textarea name="bio" id="edit-bio" cols="30" rows="10"></textarea>
                        </div>
                        <span class="error-message"></span>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button class="save-info-btn">Save</button>
            </div>
        </div>
    </div>
    <footer></footer>
    <script src="/js/pages/profile-loader.js"></script> <!-- Dynamic profile info -->
    <script src="/js/ui/navbar-controller.js"></script> <!-- Dynamic navbar script -->
</body>
</html>